[run]
omit =
    */app/services/procedures.py
    */app/services/procedures/cache.py
    */app/services/procedures/runs.py
    */app/services/procedures/service.py
    */app/services/procedures/run.py
    */app/services/audit.py
    */app/services/webrtc.py
    */app/services/__init__.py

[report]
include =
    app/api/*.py
    app/api/**/*.py
    app/services/*.py
    app/services/**/*.py
