fastapi
uvicorn
pydantic
pydantic-settings
pytest
pytest-cov
sqlalchemy
python-multipart
passlib[bcrypt]
python-jose
python-dotenv
psycopg2-binary
asyncpg
pgvector
redis
fakeredis
alembic
pytest
python-keycloak
slowapi
black
ruff
httpx==0.27.0
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
